.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 99;
  padding: 40px 0;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 26px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 6px 0;
  }
}